In [5]:
import pandas as pd

In [3]:
df = pd.read_csv('06-26-2020.csv'); df.head(2)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-06-27 04:33:35,34.223334,-82.461707,100,0,0,100,"Abbeville, South Carolina, US",407.713948,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-27 04:33:35,30.295065,-92.414197,783,36,0,747,"Acadia, Louisiana, US",1261.987267,4.597701

In [7]:
class Stack:
    def __init__(self):
        self.stack = []
        
    def push(self,val):
        self.stack.append(val)
        
    def pop(self):
        self.stack.pop()
        
    def get_stack(self):
        return self.stack

In [14]:
s = Stack()
s.push(pd.DataFrame(['a','b','c']))
s.push(pd.DataFrame(['e','f','g']))
s.get_stack()

[   0
 0  a
 1  b
 2  c,
    0
 0  e
 1  f
 2  g]

In [15]:
s.pop()
s.get_stack()[0]

   0
0  a
1  b
2  c