In [2]:
import pandas as pd

In [5]:
word = input("Enter a word: ")
df = pd.DataFrame([word]).rename(columns={0:'word'}); df

Enter a word: hello my name is

               word
0  hello my name is

In [29]:
e = 'elephant'
''.join([l.capitalize() if n%2==0 else l for n,l in enumerate(['ub'+c if c in 'aeiou' else c for c in e])])

'UbelUbepHubaNt'

In [41]:
df.loc[:,'word'].apply(lambda x: ''.join(
                                   [l.capitalize() if n%2==0 else l for n,l in 
                                            enumerate(''.join(['ub'+c if c in 'aeiou' else c for c in x]))]
                                   )
                      )

0    UbElUbEpHuBaNt
Name: word, dtype: object

In [22]:
nums = [2,7,11,15]
target = 9

In [27]:
for i in range(len(nums)):
    for j in range(i+1):
        if i != j and nums[i]+nums[j] == target:
            print(sorted([i,j]))
        continue

[0, 1]

In [28]:
hashTable = {}

for i in range(len(nums)):
    complement = target - nums[i]
    if complement in hashTable.keys():
        secondIndex = nums.index(complement)
        if i != secondIndex:
            print(sorted([i,secondIndex]))
    hashTable.update({nums[i]:i})

[0, 1]

In [4]:
df

    word
0  hello

In [107]:
from collections import Counter

df = pd.DataFrame([' '.join(['this', 'is', 'an','elementary','test','example'])])

In [108]:
df

                                    0
0  this is an elementary test example

In [82]:
sent = ['this', 'is', 'an','elementary','test','example']
sent2 = ' '.join(sent)
print(sent2)

max(sent2, key=lambda x: Counter(x).most_common(1)[0][1])

this is an elementary test example

't'

In [91]:
df[0].str.split().apply(lambda x: max(x, key=lambda x: Counter(x).most_common(1)[0][1]))

0    elementary
Name: 0, dtype: object

In [94]:
sents = [
    [' '.join(['this', 'is', 'an','elementary','test','example'])],
    [' '.join(['this', 'was', 'an','elementary','test','example'])],
    [' '.join(['this', 'still', 'is', 'an', 'elementary','test','example'])],
    [' '.join(['this', 'is', 'another','sentence','test','example'])]
]

df1 = pd.DataFrame({'key':['A','B','C','D'], 'values':sents})
df2 = pd.DataFrame({'key':['B','D','D','E'], 'values':sents})

In [96]:
df = pd.merge(df1, df2, on='key'); df

,key,values_x,values_y
0,B,[this was an elementary test example],[this is an elementary test example]
1,D,[this is another sentence test example],[this was an elementary test example]
2,D,[this is another sentence test example],[this still is an elementary test example]

In [109]:
#df['values_x'].str.split().apply(lambda x: max(x, key=lambda x: Counter(x).most_common(1)[0][1]))

https://www.youtube.com/watch?v=6oL-0TdVy28

In [142]:
class Node(object):
    def __init__(self, value):
        self.value = value
        self.left = None
        self.right = None
        
class BinaryTree(object):
    def __init__(self, root):
        self.root = Node(root)
    
    def print_tree(self,traversal_type):
        if traversal_type == "preorder":
            return self.preorder_print(tree.root, "")
        if traversal_type == "inorder":
            return self.inorder_print(tree.root, "")
        if traversal_type == "postorder":
            return self.postorder_print(tree.root, "")
        else:
            print("Traversal type" + str(traversal_type) + "not supported")
        
    def preorder_print(self, start, traversal):
        """Root->Left->Right"""
        if start:
            traversal += (str(start.value) + "-")
            traversal = self.preorder_print(start.left, traversal)
            traversal = self.preorder_print(start.right, traversal)
        return traversal
    
    def inorder_print(self, start, traversal):
        """Left->Root->Right"""
        if start:
            traversal = self.inorder_print(start.left, traversal)
            traversal += (str(start.value) + "-")
            traversal = self.inorder_print(start.right, traversal)
        return traversal
    
    def postorder_print(self, start, traversal):
        """Left->Right->Left"""
        if start:
            traversal = self.inorder_print(start.left, traversal)
            traversal = self.inorder_print(start.right, traversal)
            traversal += (str(start.value) + "-")
        return traversal
        
tree = BinaryTree(1)
tree.root.left = Node(2)
tree.root.right = Node(3)
tree.root.left.left = Node(4)
tree.root.left.right = Node(5)
tree.root.right.left = Node(6)
tree.root.right.right = Node(7)

In [143]:
tree.print_tree("preorder")

'1-2-4-5-3-6-7-'

In [144]:
tree.print_tree("inorder")

'4-2-5-1-6-3-7-'

In [145]:
tree.print_tree("postorder")

'4-2-5-6-3-7-1-'