In [26]:
# ways to make a pandas dataframe
# list of lists
# dictionary
# add index from list 
# 
from collections import Counter

import pandas as pd
# make a dataframe from a list and dictionary
l = ['a', 'b', 'b', 'c', 'd', 'd', 'e']
d = {'col1':['a','b','c'], 'col2':[1,2,3]}

# make a schema in sqlite3

In [7]:
df = pd.DataFrame(d, index=['r1','r2','r3'])

In [8]:
# sort columns using map/reduce statements
df

   col1  col2
r1    a     1
r2    b     2
r3    c     3

In [15]:
# playing with map

In [13]:
df['col1'].map(lambda x: f'Letter {x}', na_action=None)

r1    Letter a
r2    Letter b
r3    Letter c
Name: col1, dtype: object

In [14]:
df['col2'].map(lambda x: float(x))

r1    1.0
r2    2.0
r3    3.0
Name: col2, dtype: float64

In [18]:
df['col2'].map(lambda x: f'{float(x)}%')

r1    1.0%
r2    2.0%
r3    3.0%
Name: col2, dtype: object

In [44]:
df['col2'].sort_values(ascending=False)

r3    3
r2    2
r1    1
Name: col2, dtype: int64

In [46]:
df.sort_values('col2', ascending=False)

   col1  col2
r3    c     3
r2    b     2
r1    a     1

In [52]:
# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

# sort the vowels
vowels.sort()

# print vowels
print('Sorted list:', vowels)

Sorted list: ['a', 'e', 'i', 'o', 'u']

In [54]:
l.sort()