In [1]:
# phse 1
# create a dataframe froom a list, dictionary, list comprehension, sort_values, output to csv, read csv
# output to a csv, import with a file parser
# create a sqlite3 table and insert some values

In [1]:
import pandas as pd
import random as randint

In [2]:
!pip install --upgrade wget
import wget

#cus_churn_url = 'https://raw.githubusercontent.com/pmservice/wml-sample-models/master/spark/customer-satisfaction-prediction/data/Telco_customer_churn.csv'
jh_covid_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/06-26-2020.csv'

data = wget.download(jh_covid_url)

print(data)

Requirement already up-to-date: wget in /opt/miniconda3/lib/python3.8/site-packages (3.2)
WARNING: Error parsing requirements for plotly: [Errno 2] No such file or directory: '/opt/miniconda3/lib/python3.8/site-packages/plotly-4.12.0.dist-info/METADATA'
06-26-2020 (1).csv

In [6]:
l = ['a','a','b','b','c','b','c','c','c']
d = {'co1': ['a','b','c'],'col2':[1,2,3]}
pd.DataFrame(d)

  co1  col2
0   a     1
1   b     2
2   c     3

In [7]:
df = pd.read_csv('06-26-2020.csv'); df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-06-27 04:33:35,34.223334,-82.461707,100,0,0,100,"Abbeville, South Carolina, US",407.713948,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-27 04:33:35,30.295065,-92.414197,783,36,0,747,"Acadia, Louisiana, US",1261.987267,4.597701
2,51001.0,Accomack,Virginia,US,2020-06-27 04:33:35,37.767072,-75.632346,1037,14,0,1023,"Accomack, Virginia, US",3208.936750,1.350048
3,16001.0,Ada,Idaho,US,2020-06-27 04:33:35,43.452658,-116.241552,1585,23,0,1562,"Ada, Idaho, US",329.120180,1.451104
4,19001.0,Adair,Iowa,US,2020-06-27 03:33:36,41.330756,-94.471059,14,0,0,14,"Adair, Iowa, US",195.749441,0.000000

In [9]:
index, columns, data = df.index, df.columns, df.to_numpy()

In [11]:
columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incidence_Rate', 'Case-Fatality_Ratio'],
      dtype='object')

In [14]:
index.to_numpy()

array([   0,    1,    2, ..., 3785, 3786, 3787])

In [15]:
data

array([[45001.0, 'Abbeville', 'South Carolina', ...,
        'Abbeville, South Carolina, US', 407.7139478941575, 0.0],
       [22001.0, 'Acadia', 'Louisiana', ..., 'Acadia, Louisiana, US',
        1261.9872673059876, 4.597701149425287],
       [51001.0, 'Accomack', 'Virginia', ..., 'Accomack, Virginia, US',
        3208.9367495977226, 1.3500482160077143],
       ...,
       [2066.0, 'Copper River', 'Alaska', ...,
        'Copper River, Alaska, US', nan, nan],
       [2063.0, 'Chugach', 'Alaska', ..., 'Chugach, Alaska, US', nan,
        nan],
       [nan, nan, 'Unknown', ..., 'Unknown, China', 0.0, 0.0]],
      dtype=object)

In [17]:
df.dtypes

FIPS                   float64
Admin2                  object
Province_State          object
Country_Region          object
Last_Update             object
Lat                    float64
Long_                  float64
Confirmed                int64
Deaths                   int64
Recovered                int64
Active                   int64
Combined_Key            object
Incidence_Rate         float64
Case-Fatality_Ratio    float64
dtype: object

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3788 entries, 0 to 3787
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3103 non-null   float64
 1   Admin2               3107 non-null   object
 2   Province_State       3619 non-null   object
 3   Country_Region       3788 non-null   object
 4   Last_Update          3788 non-null   object
 5   Lat                  3712 non-null   float64
 6   Long_                3712 non-null   float64
 7   Confirmed            3788 non-null   int64
 8   Deaths               3788 non-null   int64
 9   Recovered            3788 non-null   int64
 10  Active               3788 non-null   int64
 11  Combined_Key         3788 non-null   object
 12  Incidence_Rate       3708 non-null   float64
 13  Case-Fatality_Ratio  3722 non-null   float64
dtypes: float64(5), int64(4), object(5)
memory usage: 414.4+ KB

In [23]:
columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incidence_Rate', 'Case-Fatality_Ratio'],
      dtype='object')

In [33]:
df.loc[:,'Country_Region'].describe()

count     3788
unique     188
top         US
freq      3114
Name: Country_Region, dtype: object

In [49]:
df.iloc[:,3].value_counts().describe()

count     188.000000
mean       20.148936
std       227.041020
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max      3114.000000
Name: Country_Region, dtype: float64

In [48]:
df.iloc[:,3].apply(type).unique()

array([<class 'str'>], dtype=object)

In [50]:
df.iloc[:,3].isna().sum()

0

In [47]:
cols = {
    'Country_Region': 'Country'
}

idx = {
    0:'zero'
}

df.rename(index=idx, columns=cols).head(2)

,FIPS,Admin2,Province_State,Country,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
zero,45001.0,Abbeville,South Carolina,US,2020-06-27 04:33:35,34.223334,-82.461707,100,0,0,100,"Abbeville, South Carolina, US",407.713948,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-27 04:33:35,30.295065,-92.414197,783,36,0,747,"Acadia, Louisiana, US",1261.987267,4.597701

In [57]:
cols = [
     col
     for col in df.columns
]; cols

[<function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>]

In [58]:
df

,<built-in method strip of str object at 0x7fd7a0d3aa70>,<built-in method strip of str object at 0x7fd7a0d3aeb0>,<built-in method strip of str object at 0x7fd7a0d3ac30>,<built-in method strip of str object at 0x7fd7a0d36230>,<built-in method strip of str object at 0x7fd7a0d36e70>,<built-in method strip of str object at 0x7fd7a0d36ab0>,<built-in method strip of str object at 0x7fd7a0d36330>,<built-in method strip of str object at 0x7fd7a0d36cb0>,<built-in method strip of str object at 0x7fd7a0d36670>,<built-in method strip of str object at 0x7fd7a0d36fb0>,<built-in method strip of str object at 0x7fd7a0d360b0>,<built-in method strip of str object at 0x7fd7a0d364f0>,<built-in method strip of str object at 0x7fd7a0d2e230>,<built-in method strip of str object at 0x7fd780393940>
0,45001.0,Abbeville,South Carolina,US,2020-06-27 04:33:35,34.223334,-82.461707,100,0,0,100,"Abbeville, South Carolina, US",407.713948,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-27 04:33:35,30.295065,-92.414197,783,36,0,747,"Acadia, Louisiana, US",1261.987267,4.597701
2,51001.0,Accomack,Virginia,US,2020-06-27 04:33:35,37.767072,-75.632346,1037,14,0,1023,"Accomack, Virginia, US",3208.936750,1.350048
3,16001.0,Ada,Idaho,US,2020-06-27 04:33:35,43.452658,-116.241552,1585,23,0,1562,"Ada, Idaho, US",329.120180,1.451104
4,19001.0,Adair,Iowa,US,2020-06-27 03:33:36,41.330756,-94.471059,14,0,0,14,"Adair, Iowa, US",195.749441,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3783,NaN,NaN,NaN,Zambia,2020-06-27 04:33:35,-13.133897,27.849332,1531,21,1233,277,Zambia,8.327914,1.371653
3784,NaN,NaN,NaN,Zimbabwe,2020-06-27 04:33:35,-19.015438,29.154857,561,6,135,420,Zimbabwe,3.774492,1.069519
3785,2066.0,Copper River,Alaska,US,2021-04-02 15:13:53,60.388600,-162.890520,1,0,0,0,"Copper River, Alaska, US",NaN,NaN
3786,2063.0,Chugach,Alaska,US,2021-04-02 15:13:53,61.166660,-149.900000,18,0,0,0,"Chugach, Alaska, US",NaN,NaN
3787,NaN,NaN,Unknown,China,2020-06-27 04:33:35,NaN,NaN,0,0,0,0,"Unknown, China",0.000000,0.000000

In [ ]:
pd.rea