In [1]:
# phse 1
# create a dataframe froom a list, dictionary, list comprehension, sort_values, output to csv, read csv
# output to a csv, import with a file parser
# create a sqlite3 table and insert some values

In [57]:
import pandas as pd
import random as randint

In [58]:
!pip install --upgrade wget
import wget

#cus_churn_url = 'https://raw.githubusercontent.com/pmservice/wml-sample-models/master/spark/customer-satisfaction-prediction/data/Telco_customer_churn.csv'
jh_covid_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/06-26-2020.csv'

data = wget.download(jh_covid_url)

print(data)

Requirement already up-to-date: wget in /opt/miniconda3/lib/python3.8/site-packages (3.2)
WARNING: Error parsing requirements for plotly: [Errno 2] No such file or directory: '/opt/miniconda3/lib/python3.8/site-packages/plotly-4.12.0.dist-info/METADATA'
06-26-2020 (1).csv

In [60]:
# make a dictionary from a list/dictionary
pd.DataFrame({'col1':['a','b','c'],'col2':[1,2,3]})

  col1  col2
0    a     1
1    b     2
2    c     3

In [62]:
df = pd.read_csv('06-26-2020.csv')

In [63]:
# output 3 main data structures
columns = df.columns
index = df.index
data = df.to_numpy()

In [66]:
data

array([[45001.0, 'Abbeville', 'South Carolina', ...,
        'Abbeville, South Carolina, US', 407.7139478941575, 0.0],
       [22001.0, 'Acadia', 'Louisiana', ..., 'Acadia, Louisiana, US',
        1261.9872673059876, 4.597701149425287],
       [51001.0, 'Accomack', 'Virginia', ..., 'Accomack, Virginia, US',
        3208.9367495977226, 1.3500482160077143],
       ...,
       [2066.0, 'Copper River', 'Alaska', ...,
        'Copper River, Alaska, US', nan, nan],
       [2063.0, 'Chugach', 'Alaska', ..., 'Chugach, Alaska, US', nan,
        nan],
       [nan, nan, 'Unknown', ..., 'Unknown, China', 0.0, 0.0]],
      dtype=object)

In [71]:
# data types, value_counts, and info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3788 entries, 0 to 3787
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3103 non-null   float64
 1   Admin2               3107 non-null   object
 2   Province_State       3619 non-null   object
 3   Country_Region       3788 non-null   object
 4   Last_Update          3788 non-null   object
 5   Lat                  3712 non-null   float64
 6   Long_                3712 non-null   float64
 7   Confirmed            3788 non-null   int64
 8   Deaths               3788 non-null   int64
 9   Recovered            3788 non-null   int64
 10  Active               3788 non-null   int64
 11  Combined_Key         3788 non-null   object
 12  Incidence_Rate       3708 non-null   float64
 13  Case-Fatality_Ratio  3722 non-null   float64
dtypes: float64(5), int64(4), object(5)
memory usage: 414.4+ KB

In [77]:
df.loc[:,'Province_State'].dtypes

dtype('O')

In [78]:
df.iloc[:,2].dtypes

dtype('O')

In [82]:
df.loc[:,'Province_State'].apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)

In [95]:
df.loc[:,'Province_State'].notna()

0        True
1        True
2        True
3        True
4        True
        ...
3783    False
3784    False
3785     True
3786     True
3787     True
Name: Province_State, Length: 3788, dtype: bool