In [1]:
# phse 1
# create a dataframe froom a list, dictionary, list comprehension, sort_values, output to csv, read csv
# output to a csv, import with a file parser
# create a sqlite3 table and insert some values

In [57]:
import pandas as pd
import random as randint

In [58]:
!pip install --upgrade wget
import wget

#cus_churn_url = 'https://raw.githubusercontent.com/pmservice/wml-sample-models/master/spark/customer-satisfaction-prediction/data/Telco_customer_churn.csv'
jh_covid_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/06-26-2020.csv'

data = wget.download(jh_covid_url)

print(data)

Requirement already up-to-date: wget in /opt/miniconda3/lib/python3.8/site-packages (3.2)
WARNING: Error parsing requirements for plotly: [Errno 2] No such file or directory: '/opt/miniconda3/lib/python3.8/site-packages/plotly-4.12.0.dist-info/METADATA'
06-26-2020 (1).csv

In [60]:
# make a dictionary from a list/dictionary
pd.DataFrame({'col1':['a','b','c'],'col2':[1,2,3]})

  col1  col2
0    a     1
1    b     2
2    c     3

In [62]:
df = pd.read_csv('06-26-2020.csv')

In [63]:
# output 3 main data structures
columns = df.columns
index = df.index
data = df.to_numpy()

In [66]:
data

array([[45001.0, 'Abbeville', 'South Carolina', ...,
        'Abbeville, South Carolina, US', 407.7139478941575, 0.0],
       [22001.0, 'Acadia', 'Louisiana', ..., 'Acadia, Louisiana, US',
        1261.9872673059876, 4.597701149425287],
       [51001.0, 'Accomack', 'Virginia', ..., 'Accomack, Virginia, US',
        3208.9367495977226, 1.3500482160077143],
       ...,
       [2066.0, 'Copper River', 'Alaska', ...,
        'Copper River, Alaska, US', nan, nan],
       [2063.0, 'Chugach', 'Alaska', ..., 'Chugach, Alaska, US', nan,
        nan],
       [nan, nan, 'Unknown', ..., 'Unknown, China', 0.0, 0.0]],
      dtype=object)

In [71]:
# data types, value_counts, and info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3788 entries, 0 to 3787
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3103 non-null   float64
 1   Admin2               3107 non-null   object
 2   Province_State       3619 non-null   object
 3   Country_Region       3788 non-null   object
 4   Last_Update          3788 non-null   object
 5   Lat                  3712 non-null   float64
 6   Long_                3712 non-null   float64
 7   Confirmed            3788 non-null   int64
 8   Deaths               3788 non-null   int64
 9   Recovered            3788 non-null   int64
 10  Active               3788 non-null   int64
 11  Combined_Key         3788 non-null   object
 12  Incidence_Rate       3708 non-null   float64
 13  Case-Fatality_Ratio  3722 non-null   float64
dtypes: float64(5), int64(4), object(5)
memory usage: 414.4+ KB

In [77]:
df.loc[:,'Province_State'].dtypes

dtype('O')

In [78]:
df.iloc[:,2].dtypes

dtype('O')

In [82]:
df.loc[:,'Province_State'].apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)

In [97]:
df.loc[:,'Province_State'].value_counts().head()

Texas       246
Georgia     161
Virginia    134
Kentucky    120
Missouri    116
Name: Province_State, dtype: int64

In [100]:
l = pd.DataFrame(['a','a','b','b','b','c','d','d','d','d'])
l.value_counts().head(1)

d    4
dtype: int64

In [105]:
col_name = {'Province_State':'State'}
idx_name = {0:'zero'}

df.rename(index=idx_name, columns=col_name).head()

,FIPS,Admin2,State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
zero,45001.0,Abbeville,South Carolina,US,2020-06-27 04:33:35,34.223334,-82.461707,100,0,0,100,"Abbeville, South Carolina, US",407.713948,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-27 04:33:35,30.295065,-92.414197,783,36,0,747,"Acadia, Louisiana, US",1261.987267,4.597701
2,51001.0,Accomack,Virginia,US,2020-06-27 04:33:35,37.767072,-75.632346,1037,14,0,1023,"Accomack, Virginia, US",3208.936750,1.350048
3,16001.0,Ada,Idaho,US,2020-06-27 04:33:35,43.452658,-116.241552,1585,23,0,1562,"Ada, Idaho, US",329.120180,1.451104
4,19001.0,Adair,Iowa,US,2020-06-27 03:33:36,41.330756,-94.471059,14,0,0,14,"Adair, Iowa, US",195.749441,0.000000

In [106]:
# creative
# javascript, docker, object oriented programming, weird data structures
# sql, django, flask, kubernetes, pervious day's leetcode question

In [211]:
class Node:
    
    def __init__(self, head):
        self.cur_node = head
        self.prev_node = None
        
    def printNode(self, cur_node):
        print(self.cur_node)
#         while cur_node:
#             next_node = cur_node['next_val']
#             prev_node = cur_node
        
#         head = prev_node
        #print(head)
        
#         while cur_node:
#             next_node = cur_node.next
#             cur_node.next = prev_node
#             prev_node = cur_node
#             cur_node = cur_node
            
#         head = prev_node
        
#         return head

In [212]:
listNode = {'val': 1, 'next_val':{'val':2, 'next_val': None}}

In [213]:
listNode

{'val': 1, 'next_val': {'val': 2, 'next_val': None}}

In [214]:
Node(listNode)

In [123]:
state = [s for s in df.loc[:,'Province_State']]

In [142]:
node = {}

node['val'] = state[0]
node['next'] = {'val': state[1], 'next': {'val': state[2], 'next': None}}

In [143]:
prev_node = None
cur_node = node
next_node = node['next']