In [1]:
# phse 1
# create a dataframe froom a list, dictionary, list comprehension, sort_values, output to csv, read csv
# output to a csv, import with a file parser
# create a sqlite3 table and insert some values

In [1]:
import pandas as pd
import random as randint

In [2]:
!pip install --upgrade wget
import wget

#cus_churn_url = 'https://raw.githubusercontent.com/pmservice/wml-sample-models/master/spark/customer-satisfaction-prediction/data/Telco_customer_churn.csv'
jh_covid_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/06-26-2020.csv'

data = wget.download(jh_covid_url)

print(data)

Requirement already up-to-date: wget in /opt/miniconda3/lib/python3.8/site-packages (3.2)
WARNING: Error parsing requirements for plotly: [Errno 2] No such file or directory: '/opt/miniconda3/lib/python3.8/site-packages/plotly-4.12.0.dist-info/METADATA'
06-26-2020 (2).csv

In [4]:
l = ['a','b','c','d']
d = {'a':[1,2,3],'b':[4,5,6]}

pd.DataFrame(d)

   a  b
0  1  4
1  2  5
2  3  6

In [6]:
df = pd.read_csv('06-26-2020.csv'); df.head(2)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-06-27 04:33:35,34.223334,-82.461707,100,0,0,100,"Abbeville, South Carolina, US",407.713948,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-27 04:33:35,30.295065,-92.414197,783,36,0,747,"Acadia, Louisiana, US",1261.987267,4.597701

In [15]:
columns = df.columns
index = df.index 
data = df.to_numpy()

In [13]:
index.to_numpy()

array([   0,    1,    2, ..., 3785, 3786, 3787])

In [19]:
data.shape

(3788, 14)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3788 entries, 0 to 3787
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3103 non-null   float64
 1   Admin2               3107 non-null   object
 2   Province_State       3619 non-null   object
 3   Country_Region       3788 non-null   object
 4   Last_Update          3788 non-null   object
 5   Lat                  3712 non-null   float64
 6   Long_                3712 non-null   float64
 7   Confirmed            3788 non-null   int64
 8   Deaths               3788 non-null   int64
 9   Recovered            3788 non-null   int64
 10  Active               3788 non-null   int64
 11  Combined_Key         3788 non-null   object
 12  Incidence_Rate       3708 non-null   float64
 13  Case-Fatality_Ratio  3722 non-null   float64
dtypes: float64(5), int64(4), object(5)
memory usage: 414.4+ KB

In [28]:
df.dtypes

FIPS                   float64
Admin2                  object
Province_State          object
Country_Region          object
Last_Update             object
Lat                    float64
Long_                  float64
Confirmed                int64
Deaths                   int64
Recovered                int64
Active                   int64
Combined_Key            object
Incidence_Rate         float64
Case-Fatality_Ratio    float64
dtype: object

In [31]:
df.value_counts()

FIPS     Admin2     Province_State  Country_Region  Last_Update          Lat        Long_        Confirmed  Deaths  Recovered  Active  Combined_Key             Incidence_Rate  Case-Fatality_Ratio
56045.0  Weston     Wyoming         US              2020-06-27 04:33:35  43.839612  -104.567488  1          0       0          1       Weston, Wyoming, US      14.436264       0.000000               1
21083.0  Graves     Kentucky        US              2020-06-27 04:33:35  36.722925  -88.651433   192        21      0          171     Graves, Kentucky, US     515.214941      10.937500              1
21101.0  Henderson  Kentucky        US              2020-06-27 04:33:35  37.793446  -87.573920   155        3       0          152     Henderson, Kentucky, US  342.844503      1.935484               1
21099.0  Hart       Kentucky        US              2020-06-27 04:33:35  37.299439  -85.884611   39         0       0          39      Hart, Kentucky, US       204.885737      0.000000               1
21097.0  Harrison   Kentucky        US              2020-06-27 04:33:35  38.441882  -84.328697   66         0       0          66      Harrison, Kentucky, US   349.465212      0.000000               1
                                                                                                                                                                                                      ..
39099.0  Mahoning   Ohio            US              2020-06-27 04:33:35  41.016311  -80.772870   1695       203     0          1468    Mahoning, Ohio, US       741.200701      13.392330              1
39097.0  Madison    Ohio            US              2020-06-27 04:33:35  39.893811  -83.401783   181        6       0          173     Madison, Ohio, US        404.641077      4.419890               1
39095.0  Lucas      Ohio            US              2020-06-27 04:33:35  41.621012  -83.654686   2538       261     0          2239    Lucas, Ohio, US          592.508895      11.780930              1
39093.0  Lorain     Ohio            US              2020-06-27 04:33:35  41.295538  -82.150835   901        64      0          834     Lorain, Ohio, US         290.801819      7.436182               1
1001.0   Autauga    Alabama         US              2020-06-27 04:33:35  32.539527  -86.644082   500        10      0          472     Autauga, Alabama, US     862.732463      2.074689               1
Length: 3012, dtype: int64

In [54]:
df.loc[:,[c for c in df.columns if c.startswith('P')][0]].unique()

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'Ohio', 'Pennsylvania',
       'Washington', 'Wisconsin', 'Vermont', 'Minnesota', 'Florida',
       'North Carolina', 'California', 'New York', 'Wyoming', 'Michigan',
       'Maryland', 'Kansas', 'Alaska', 'Tennessee', 'Texas', 'Maine',
       'Arizona', 'Georgia', 'Arkansas', 'New Jersey', 'South Dakota',
       'Alabama', 'Oregon', 'West Virginia', 'North Dakota',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware', 'Abruzzo', 'Acre', 'Adygea Republic',
       'Aguascalientes', 'Aichi', 'Akita', 'Alagoas', 'Alberta',
       'Altai Krai', 'Altai Republic', 'Amapa', 'Amazonas', 'Amur Oblast',
       'Ancash', 'Andalusia', 'Andaman and Nicobar Islands',
       'Andhra Pradesh', 'Anguilla', 'Anhui', 'Antioquia', 'Antofagasta',
       'Aomori', 'Apurimac', 'Aragon', 'Arauca', 'Araucania', 'Arequipa',
       'Arica y Parinacota', 'Arkhangelsk Oblast', 'Aruba',
       'Arunachal Pradesh', 'Assam', 'Astrakhan Oblast', 'Asturias',
       'Atacama', 'Atlantico', 'Australian Capital Territory', 'Ayacucho',
       'Aysen', 'Azad Jammu and Kashmir', 'Baden-Wurttemberg', 'Bahia',
       'Baja California', 'Baja California Sur', 'Baleares',
       'Balochistan', 'Bashkortostan Republic', 'Basilicata', 'Bayern',
       'Beijing', 'Belgorod Oblast', 'Berlin', 'Bermuda', 'Bihar',
       'Biobio', 'Blekinge', 'Bolivar',
       'Bonaire, Sint Eustatius and Saba', 'Boyaca', 'Brandenburg',
       'Bremen', 'British Columbia', 'British Virgin Islands',
       'Bryansk Oblast', 'Buryatia Republic', 'C. Valenciana',
       'Cajamarca', 'Calabria', 'Caldas', 'Callao', 'Campania',
       'Campeche', 'Canarias', 'Cantabria', 'Capital District', 'Caqueta',
       'Casanare', 'Castilla - La Mancha', 'Castilla y Leon', 'Catalonia',
       'Cauca', 'Cayman Islands', 'Ceara', 'Cesar', 'Ceuta', 'Chandigarh',
       'Channel Islands', 'Chechen Republic', 'Chelyabinsk Oblast',
       'Cherkasy Oblast', 'Chernihiv Oblast', 'Chernivtsi Oblast',
       'Chhattisgarh', 'Chiapas', 'Chiba', 'Chihuahua', 'Choco',
       'Chongqing', 'Chukotka Autonomous Okrug', 'Chuvashia Republic',
       'Ciudad de Mexico', 'Coahuila', 'Colima', 'Coquimbo', 'Cordoba',
       'Crimea Republic*', 'Cundinamarca', 'Curacao', 'Cusco',
       'Dadra and Nagar Haveli and Daman and Diu', 'Dagestan Republic',
       'Dalarna', 'Delhi', 'Diamond Princess', 'Distrito Federal',
       'Dnipropetrovsk Oblast', 'Donetsk Oblast', 'Durango', 'Ehime',
       'Emilia-Romagna', 'England', 'Espirito Santo', 'Extremadura',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'French Guiana',
       'French Polynesia', 'Friuli Venezia Giulia', 'Fujian', 'Fukui',
       'Fukuoka', 'Fukushima', 'Galicia', 'Gansu', 'Gavleborg',
       'Gibraltar', 'Gifu', 'Gilgit-Baltistan', 'Goa', 'Goias', 'Gotland',
       'Grand Princess', 'Greenland', 'Guadeloupe', 'Guainia', 'Guam',
       'Guanajuato', 'Guangdong', 'Guangxi', 'Guaviare', 'Guerrero',
       'Guizhou', 'Gujarat', 'Gunma', 'Hainan', 'Halland', 'Hamburg',
       'Haryana', 'Hebei', 'Heilongjiang', 'Henan', 'Hessen', 'Hidalgo',
       'Himachal Pradesh', 'Hiroshima', 'Hokkaido', 'Hong Kong',
       'Huancavelica', 'Huanuco', 'Hubei', 'Huila', 'Hunan', 'Hyogo',
       'Ibaraki', 'Ica', 'Ingushetia Republic', 'Inner Mongolia',
       'Irkutsk Oblast', 'Ishikawa', 'Islamabad', 'Isle of Man',
       'Ivano-Frankivsk Oblast', 'Ivanovo Oblast', 'Jalisco',
       'Jammu and Kashmir', 'Jamtland Harjedalen',
       'Jewish Autonomous Okrug', 'Jharkhand', 'Jiangsu', 'Jiangxi',
       'Jilin', 'Jonkoping', 'Junin', 'Kabardino-Balkarian Republic',
       'Kagawa', 'Kagoshima', 'Kaliningrad Oblast', 'Kalmar',
       'Kalmykia Republic', 'Kaluga Oblast', 'Kamchatka Krai', 'Kanagawa',
       'Karachay-Cherkess Republic', 'Karelia Republic', 'Karnataka',
       'Kemerovo Oblast', 'Kerala', 'Khabarovsk Krai',
       'Khakassia Republic', 'Khanty-Mansi Autonomous Okrug',
       'Kharkiv Oblast', 'Kherson Oblast', 'Khmelnytskyi Oblast',
       'Khyber Pakhtunkhwa', 'Kiev', 'Kiev Oblast', 'Kirov Oblast',
       'Kirovohrad Oblast', 'Kochi', 'Komi Republic', 'Kostroma Oblast',
       'Krasnodar Krai', 'Krasnoyarsk Krai', 'Kronoberg', 'Kumamoto',
       'Kurgan Oblast', 'Kursk Oblast', 'Kyoto', 'La Guajira',
       'La Libertad', 'La Rioja', 'Ladakh', 'Lambayeque', 'Lazio',
       'Leningrad Oblast', 'Liaoning', 'Liguria', 'Lima',
       'Lipetsk Oblast', 'Lombardia', 'Loreto', 'Los Lagos', 'Los Rios',
       'Luhansk Oblast', 'Lviv Oblast', 'Macau', 'Madhya Pradesh',
       'Madre de Dios', 'Madrid', 'Magadan Oblast', 'Magallanes',
       'Magdalena', 'Maharashtra', 'Manipur', 'Manitoba', 'Maranhao',
       'Marche', 'Mari El Republic', 'Martinique', 'Mato Grosso',
       'Mato Grosso do Sul', 'Maule', 'Mayotte', 'Mecklenburg-Vorpommern',
       'Meghalaya', 'Melilla', 'Meta', 'Metropolitana', 'Mexico',
       'Michoacan', 'Mie', 'Minas Gerais', 'Miyagi', 'Miyazaki',
       'Mizoram', 'Molise', 'Montserrat', 'Moquegua', 'Mordovia Republic',
       'Morelos', 'Moscow', 'Moscow Oblast', 'Murcia', 'Murmansk Oblast',
       'Mykolaiv Oblast', 'Nagaland', 'Nagano', 'Nagasaki', 'Nara',
       'Narino', 'Navarra', 'Nayarit', 'Nenets Autonomous Okrug',
       'New Brunswick', 'New Caledonia', 'New South Wales',
       'Newfoundland and Labrador', 'Niedersachsen', 'Niigata', 'Ningxia',
       'Nizhny Novgorod Oblast', 'Nordrhein-Westfalen', 'Norrbotten',
       'Norte de Santander', 'North Ossetia - Alania Republic',
       'Northern Ireland', 'Northern Mariana Islands',
       'Northern Territory', 'Northwest Territories', 'Nova Scotia',
       'Nunavut', 'Novgorod Oblast', 'Novosibirsk Oblast', 'Nuble',
       'Nuevo Leon', 'OHiggins', 'Oaxaca', 'Odessa Oblast', 'Odisha',
       'Oita', 'Okayama', 'Okinawa', 'Omsk Oblast', 'Ontario', 'Orebro',
       'Orel Oblast', 'Orenburg Oblast', 'Osaka', 'Ostergotland',
       'P.A. Bolzano', 'P.A. Trento', 'Pais Vasco', 'Para', 'Paraiba',
       'Parana', 'Pasco', 'Penza Oblast', 'Perm Krai', 'Pernambuco',
       'Piaui', 'Piemonte', 'Piura', 'Poltava Oblast', 'Port Quarantine',
       'Primorsky Krai', 'Prince Edward Island', 'Pskov Oblast',
       'Puducherry', 'Puebla', 'Puerto Rico', 'Puglia', 'Punjab', 'Puno',
       'Putumayo', 'Qinghai', 'Quebec', 'Queensland', 'Queretaro',
       'Quindio', 'Quintana Roo', 'Rajasthan', 'Recovered', 'Reunion',
       'Rheinland-Pfalz', 'Rio Grande do Norte', 'Rio Grande do Sul',
       'Rio de Janeiro', 'Risaralda', 'Rivne Oblast', 'Rondonia',
       'Roraima', 'Rostov Oblast', 'Ryazan Oblast', 'Saarland', 'Sachsen',
       'Sachsen-Anhalt', 'Saga', 'Saint Barthelemy',
       'Saint Helena, Ascension and Tristan da Cunha', 'Saint Petersburg',
       'Saint Pierre and Miquelon', 'Saitama',
       'Sakha (Yakutiya) Republic', 'Sakhalin Oblast', 'Samara Oblast',
       'San Andres y Providencia', 'San Luis Potosi', 'San Martin',
       'Santa Catarina', 'Santander', 'Sao Paulo', 'Saratov Oblast',
       'Sardegna', 'Saskatchewan', 'Schleswig-Holstein', 'Scotland',
       'Sergipe', 'Sevastopol*', 'Shaanxi', 'Shandong', 'Shanghai',
       'Shanxi', 'Shiga', 'Shimane', 'Shizuoka', 'Sichuan', 'Sicilia',
       'Sikkim', 'Sinaloa', 'Sindh', 'Sint Maarten', 'Skane',
       'Smolensk Oblast', 'Sonora', 'Sormland', 'South Australia',
       'St Martin', 'Stavropol Krai', 'Stockholm', 'Sucre', 'Sumy Oblast',
       'Sverdlovsk Oblast', 'Tabasco', 'Tacna', 'Tamaulipas',
       'Tambov Oblast', 'Tamil Nadu', 'Tarapaca', 'Tasmania',
       'Tatarstan Republic', 'Telangana', 'Ternopil Oblast', 'Thuringen',
       'Tianjin', 'Tibet', 'Tlaxcala', 'Tocantins', 'Tochigi',
       'Tokushima', 'Tokyo', 'Tolima', 'Tomsk Oblast', 'Toscana',
       'Tottori', 'Toyama', 'Tripura', 'Tula Oblast', 'Tumbes',
       'Turks and Caicos Islands', 'Tver Oblast', 'Tyumen Oblast',
       'Tyva Republic', 'Ucayali', 'Udmurt Republic', 'Ulyanovsk Oblast',
       'Umbria', 'Unknown', 'Uppsala', 'Uttar Pradesh', 'Uttarakhand',
       "Valle d'Aosta", 'Valle del Cauca', 'Valparaiso', 'Varmland',
       'Vasterbotten', 'Vasternorrland', 'Vastmanland', 'Vastra Gotaland',
       'Vaupes', 'Veneto', 'Veracruz', 'Vichada', 'Victoria',
       'Vinnytsia Oblast', 'Virgin Islands', 'Vladimir Oblast',
       'Volgograd Oblast', 'Vologda Oblast', 'Volyn Oblast',
       'Voronezh Oblast', 'Wakayama', 'Wales', 'West Bengal',
       'Western Australia', 'Xinjiang', 'Yamagata', 'Yamaguchi',
       'Yamalo-Nenets Autonomous Okrug', 'Yamanashi', 'Yaroslavl Oblast',
       'Yucatan', 'Yukon', 'Yunnan', 'Zabaykalsky Krai', 'Zacatecas',
       'Zakarpattia Oblast', 'Zaporizhia Oblast', 'Zhejiang',
       'Zhytomyr Oblast', nan], dtype=object)

In [60]:
df.iloc[:,2].describe()[0]

3619

In [68]:
df.iloc[:,2].value_counts().head(1)

Texas    246
Name: Province_State, dtype: int64

In [75]:
df['']

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incidence_Rate', 'Case-Fatality_Ratio'],
      dtype='object')

In [77]:
cols = {
    'Province_State':'State'
}

idx = {
    0: 'Zero'
}

df.rename(index=idx, columns=cols).head()

,FIPS,Admin2,State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
Zero,45001.0,Abbeville,South Carolina,US,2020-06-27 04:33:35,34.223334,-82.461707,100,0,0,100,"Abbeville, South Carolina, US",407.713948,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-27 04:33:35,30.295065,-92.414197,783,36,0,747,"Acadia, Louisiana, US",1261.987267,4.597701
2,51001.0,Accomack,Virginia,US,2020-06-27 04:33:35,37.767072,-75.632346,1037,14,0,1023,"Accomack, Virginia, US",3208.936750,1.350048
3,16001.0,Ada,Idaho,US,2020-06-27 04:33:35,43.452658,-116.241552,1585,23,0,1562,"Ada, Idaho, US",329.120180,1.451104
4,19001.0,Adair,Iowa,US,2020-06-27 03:33:36,41.330756,-94.471059,14,0,0,14,"Adair, Iowa, US",195.749441,0.000000

In [82]:
import random

length = len(df.loc[:,[c for c in df.columns if c.startswith('P')][0]])

vals = [random.randint(0,10) for i in range(length)]

df['newCol'] = vals

In [84]:
df.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incidence_Rate', 'Case-Fatality_Ratio', 'newCol'],
      dtype='object')