In [83]:
import interview_questions, warm_up
import random
import datetime
import pandas as pd

In [84]:
df = pd.read_csv('06-26-2020.csv') # dataset for coding warmup
questions = interview_questions.questions
warmUp = warm_up.questions
data = [q for q in questions.items()]
warmUpQuestions = [q for q in warmUp.items()]

In [85]:
results = {}

def trackAnswers(result, question):
    datetime_object = datetime.datetime.now()
    if result:
        results[datetime_object] = (question, 'T')
    results[datetime_object] = (question, 'T')

# add in some probability questions
def quiz_question():
    q = data[random.randint(0,2)]
    print(q[0])
    answer = input()
    if answer == q[1]:
        print('good job', trackAnswers(True, q[0]))
    else:    
        print(f'wrong answer {q[1]}', trackAnswers(False, q[0]))

# make it so this does not repeat questions
# add in some probability questions
def warm_up_question():
    for n,i in enumerate(range(12)):
        q = warmUpQuestions[random.randint(0,14)]
        print(str(n+1) + " " + q[1] + '\n')

In [88]:
quiz_question()

what is a type 2 error
False negative: not rejecting the null hypothesis when it is actually false. The test showed you did not have corona virus when you actually did
wrong answer rejecting the null hypothesis when the alternative hypothesis is true None

##### Warm-up

In [89]:
warm_up_question()

1 create a column/delete a column

2 select the same column with loc and iloc, and then print out all types in the column

3 sql: use like to select string match and/or/not

4 check to see if there are missing values in the dataset

5 check to see if there are missing values in the dataset

6 return the summary statistics of the column

7 return the summary statistics of the column

8 select the same column with loc and iloc, and then print out all types in the column

9 sql: use like to select string match and/or/not

10 select the same column with loc and iloc, and then print out all types in the column

11 return unique values from the column, and the frequencies of values in the column

12 assign the columns, index, and data to varaibles and display

In [92]:
tmp = [random.randint(0,10) for i in range(len(df.iloc[:,3]))]

In [94]:
df['New_Col1'] = tmp; df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio,New_Col1
0,45001.0,Abbeville,South Carolina,US,2020-06-27 04:33:35,34.223334,-82.461707,100,0,0,100,"Abbeville, South Carolina, US",407.713948,0.000000,9
1,22001.0,Acadia,Louisiana,US,2020-06-27 04:33:35,30.295065,-92.414197,783,36,0,747,"Acadia, Louisiana, US",1261.987267,4.597701,10
2,51001.0,Accomack,Virginia,US,2020-06-27 04:33:35,37.767072,-75.632346,1037,14,0,1023,"Accomack, Virginia, US",3208.936750,1.350048,10
3,16001.0,Ada,Idaho,US,2020-06-27 04:33:35,43.452658,-116.241552,1585,23,0,1562,"Ada, Idaho, US",329.120180,1.451104,4
4,19001.0,Adair,Iowa,US,2020-06-27 03:33:36,41.330756,-94.471059,14,0,0,14,"Adair, Iowa, US",195.749441,0.000000,6

In [100]:
df.iloc[:,2].head(2).dtypes

dtype('O')

In [98]:
df.loc[:,[c for c in df.columns if c.startswith('P')]].head(2)

   Province_State
0  South Carolina
1       Louisiana

In [108]:
df.iloc[:,2].describe()

count      3619
unique      550
top       Texas
freq        246
Name: Province_State, dtype: object

In [109]:
df.loc[:,'Deaths'].describe()

count     3788.000000
mean       130.462249
std       1075.882839
min          0.000000
25%          0.000000
50%          2.000000
75%         18.000000
max      38888.000000
Name: Deaths, dtype: float64

In [115]:
df.loc[:,'Province_State'].value_counts()

Texas             246
Georgia           161
Virginia          134
Kentucky          120
Missouri          116
                 ...
England             1
Jonkoping           1
Tamaulipas          1
Shizuoka            1
Stavropol Krai      1
Name: Province_State, Length: 550, dtype: int64

In [116]:
columns = df.columns
index = df.index
data = df.to_numpy()

In [117]:
columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incidence_Rate', 'Case-Fatality_Ratio', 'New_Col1'],
      dtype='object')

In [119]:
index.to_numpy()

array([   0,    1,    2, ..., 3785, 3786, 3787])

In [120]:
data

array([[45001.0, 'Abbeville', 'South Carolina', ..., 407.7139478941575,
        0.0, 9],
       [22001.0, 'Acadia', 'Louisiana', ..., 1261.9872673059876,
        4.597701149425287, 10],
       [51001.0, 'Accomack', 'Virginia', ..., 3208.9367495977226,
        1.3500482160077143, 10],
       ...,
       [2066.0, 'Copper River', 'Alaska', ..., nan, nan, 1],
       [2063.0, 'Chugach', 'Alaska', ..., nan, nan, 6],
       [nan, nan, 'Unknown', ..., 0.0, 0.0, 6]], dtype=object)