In [29]:
import interview_questions, warm_up
import random
import datetime
import pandas as pd
import numpy as np
import torch

In [30]:
df = pd.read_csv('06-26-2020.csv') # dataset for coding warmup
questions = interview_questions.questions
warmUp = warm_up.questions
data = [q for q in questions.items()]
warmUpQuestions = [q for q in warmUp.items()]

In [31]:
results = {}

def trackAnswers(result, question):
    datetime_object = datetime.datetime.now()
    if result:
        results[datetime_object] = (question, 'T')
    results[datetime_object] = (question, 'T')

# add in some probability questions
def quiz_question():
    q = data[random.randint(0,2)]
    print(q[0])
    answer = input()
    if answer == q[1]:
        print('good job', trackAnswers(True, q[0]))
    else:    
        print(f'wrong answer {q[1]}', trackAnswers(False, q[0]))

# make it so this does not repeat questions
# add in some probability questions
def warm_up_question():
    for n,i in enumerate(range(5)):
        q = warmUpQuestions[random.randint(0,14)]
        print(str(n+1) + " " + q[1] + '\n')

In [30]:
quiz_question()

what is a type 1 error

KeyboardInterrupt: Interrupted by user

##### Warm-up

In [32]:
warm_up_question()

1 select the same column with loc and iloc, and then print out all types in the column

2 assign the columns, index, and data to varaibles and display

3 return unique values from the column, and the frequencies of values in the column

4 return the summary statistics of the column

5 create a column/delete a column

In [33]:
df.iloc[:,3].head(1)

0    US
Name: Country_Region, dtype: object

In [34]:
df.loc[:,'Country_Region'].head(1)

0    US
Name: Country_Region, dtype: object

In [35]:
index = df.index.to_numpy(); index

array([   0,    1,    2, ..., 3785, 3786, 3787])

In [36]:
cols = df.columns; cols

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incidence_Rate', 'Case-Fatality_Ratio'],
      dtype='object')

In [37]:
data = df.to_numpy(); data

array([[45001.0, 'Abbeville', 'South Carolina', ...,
        'Abbeville, South Carolina, US', 407.7139478941575, 0.0],
       [22001.0, 'Acadia', 'Louisiana', ..., 'Acadia, Louisiana, US',
        1261.9872673059876, 4.597701149425287],
       [51001.0, 'Accomack', 'Virginia', ..., 'Accomack, Virginia, US',
        3208.9367495977226, 1.3500482160077143],
       ...,
       [2066.0, 'Copper River', 'Alaska', ...,
        'Copper River, Alaska, US', nan, nan],
       [2063.0, 'Chugach', 'Alaska', ..., 'Chugach, Alaska, US', nan,
        nan],
       [nan, nan, 'Unknown', ..., 'Unknown, China', 0.0, 0.0]],
      dtype=object)

In [38]:
df.iloc[:,3].unique()

array(['US', 'Italy', 'Brazil', 'Russia', 'Mexico', 'Japan', 'Canada',
       'Colombia', 'Peru', 'Spain', 'India', 'United Kingdom', 'China',
       'Chile', 'Netherlands', 'Australia', 'Pakistan', 'Germany',
       'Sweden', 'Ukraine', 'Denmark', 'France', 'Afghanistan', 'Albania',
       'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Central African Republic',
       'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Diamond Princess', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'Gabon', 'Gambia', 'Georgia', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Jamaica', 'Jordan',
       'Kazakhstan', 'Kenya', 'Korea, South', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Sudan', 'Sri Lanka', 'Sudan',
       'Suriname', 'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda',
       'United Arab Emirates', 'Uruguay', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [42]:
[c for c in df.iloc[:,3].value_counts()]

[3114,
 83,
 48,
 36,
 34,
 34,
 32,
 27,
 27,
 26,
 21,
 21,
 20,
 17,
 17,
 16,
 15,
 11,
 8,
 7,
 5,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [55]:
df.iloc[:,3].describe()

count     3788
unique     188
top         US
freq      3114
Name: Country_Region, dtype: object

In [51]:
df['newCol'] = [v for v in range(df.shape[0])]; df['newCol']

0          0
1          1
2          2
3          3
4          4
        ...
3783    3783
3784    3784
3785    3785
3786    3786
3787    3787
Name: newCol, Length: 3788, dtype: int64

In [52]:
df.drop(['newCol'], axis=1)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-06-27 04:33:35,34.223334,-82.461707,100,0,0,100,"Abbeville, South Carolina, US",407.713948,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-27 04:33:35,30.295065,-92.414197,783,36,0,747,"Acadia, Louisiana, US",1261.987267,4.597701
2,51001.0,Accomack,Virginia,US,2020-06-27 04:33:35,37.767072,-75.632346,1037,14,0,1023,"Accomack, Virginia, US",3208.936750,1.350048
3,16001.0,Ada,Idaho,US,2020-06-27 04:33:35,43.452658,-116.241552,1585,23,0,1562,"Ada, Idaho, US",329.120180,1.451104
4,19001.0,Adair,Iowa,US,2020-06-27 03:33:36,41.330756,-94.471059,14,0,0,14,"Adair, Iowa, US",195.749441,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3783,NaN,NaN,NaN,Zambia,2020-06-27 04:33:35,-13.133897,27.849332,1531,21,1233,277,Zambia,8.327914,1.371653
3784,NaN,NaN,NaN,Zimbabwe,2020-06-27 04:33:35,-19.015438,29.154857,561,6,135,420,Zimbabwe,3.774492,1.069519
3785,2066.0,Copper River,Alaska,US,2021-04-02 15:13:53,60.388600,-162.890520,1,0,0,0,"Copper River, Alaska, US",NaN,NaN
3786,2063.0,Chugach,Alaska,US,2021-04-02 15:13:53,61.166660,-149.900000,18,0,0,0,"Chugach, Alaska, US",NaN,NaN
3787,NaN,NaN,Unknown,China,2020-06-27 04:33:35,NaN,NaN,0,0,0,0,"Unknown, China",0.000000,0.000000