In [3]:
import interview_questions, warm_up
import random
import datetime
import pandas as pd
import numpy as np
import torch
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [4]:
df = pd.read_csv('06-26-2020.csv') # dataset for coding warmup
df.to_sql('june_corona', con=engine)
questions = interview_questions.questions
warmUp = warm_up.questions
data = [q for q in questions.items()]
warmUpQuestions = [q for q in warmUp.items()]

https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html#pandas-equivalents-for-some-sql-analytic-and-aggregate-functions

In [5]:
# join warmups
url1 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/12-31-2020.csv'
url2 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/12-27-2020.csv'

In [6]:
#day1 = pd.read_csv(url1)
#day2 = pd.read_csv(url2)

In [85]:
results = {}

def trackAnswers(result, question):
    datetime_object = datetime.datetime.now()
    if result:
        results[datetime_object] = (question, 'T')
    results[datetime_object] = (question, 'T')

# add in some probability questions
def quiz_question():
    q = data[random.randint(0,2)]
    print(q[0])
    answer = input()
    if answer == q[1]:
        print('good job', trackAnswers(True, q[0]))
    else:    
        print(f'wrong answer {q[1]}', trackAnswers(False, q[0]))

# make it so this does not repeat questions
# add in some probability questions
def warm_up_question():
    tot_q = len(warmUpQuestions)
    tbl = {}
    for n,i in enumerate(range(5)):
        try:
            q = warmUpQuestions[random.randint(0,tot_q-1)]
            tbl.update({q:i})
            #if q not in tbl:
            print(str(n+1) + " " + q[1] + '\n')
#         else:
#             print('repeat question')
        except:
            print(f'ERROR: {tot_q}')
            
    #print(tbl)

In [86]:
#quiz_question()
#engine.execute("SELECT Admin2 FROM june_corona").fetchall()

##### Warm-up

In [87]:
warm_up_question()

1 assign the columns, index, and data to varaibles and display

2 rename index and column name

3 ssh into @bandit.labs.overthewire.org with username bandit0, port 2220 and pw: bandit0

4 check to see if there are missing values in the dataset

5 check to see if there are missing values in the dataset

In [12]:
df1 = pd.DataFrame({'key':['A','B','C','D'],'value':np.random.randn(4)})
df2 = pd.DataFrame({'key':['B','D','D','E'],'value':np.random.randn(4)})

In [13]:
pd.merge(df1, df2, on='key')

  key   value_x   value_y
0   B -0.976484  0.117046
1   D -0.291979 -0.833454
2   D -0.291979  1.036447

In [15]:
df1.to_sql('df1',con=engine)
df2.to_sql('df2',con=engine)

In [16]:
engine.execute(
    '''
    select *
    from df1
    join df2 on df1.key = df2.key;
    '''
).fetchall()

[(1, 'B', -0.9764843547246063, 0, 'B', 0.11704551455155662),
 (3, 'D', -0.29197896160900305, 1, 'D', -0.833453876998126),
 (3, 'D', -0.29197896160900305, 2, 'D', 1.0364470120596716)]

In [26]:
l = [n for n in range(10)]
d = {'col':[n for n in range(10)]}

#pd.DataFrame(d)

In [39]:
df.loc[:,[c for c in df.columns if df[c].dtypes == 'float']].describe()

,FIPS,Lat,Long_,Incidence_Rate,Case-Fatality_Ratio
count,3103.000000,3712.000000,3712.000000,3708.000000,3722.000000
mean,31401.484370,36.161767,-72.152212,443.949452,3.450731
std,17044.103788,12.846812,53.586658,703.839397,17.393944
min,66.000000,-52.368000,-172.104600,0.000000,0.000000
25%,19006.000000,33.591828,-96.326142,90.292204,0.000000
50%,29201.000000,37.974131,-87.073239,231.164170,1.618778
75%,46055.000000,42.056212,-78.358276,523.148027,4.651163
max,99999.000000,71.706900,178.065000,13053.881602,1027.272727

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3788 entries, 0 to 3787
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3103 non-null   float64
 1   Admin2               3107 non-null   object
 2   Province_State       3619 non-null   object
 3   Country_Region       3788 non-null   object
 4   Last_Update          3788 non-null   object
 5   Lat                  3712 non-null   float64
 6   Long_                3712 non-null   float64
 7   Confirmed            3788 non-null   int64
 8   Deaths               3788 non-null   int64
 9   Recovered            3788 non-null   int64
 10  Active               3788 non-null   int64
 11  Combined_Key         3788 non-null   object
 12  Incidence_Rate       3708 non-null   float64
 13  Case-Fatality_Ratio  3722 non-null   float64
dtypes: float64(5), int64(4), object(5)
memory usage: 414.4+ KB