In [1]:
import interview_questions, warm_up
import random
import datetime
import pandas as pd
import numpy as np
import torch

In [2]:
df = pd.read_csv('06-26-2020.csv') # dataset for coding warmup
questions = interview_questions.questions
warmUp = warm_up.questions
data = [q for q in questions.items()]
warmUpQuestions = [q for q in warmUp.items()]

In [3]:
results = {}

def trackAnswers(result, question):
    datetime_object = datetime.datetime.now()
    if result:
        results[datetime_object] = (question, 'T')
    results[datetime_object] = (question, 'T')

# add in some probability questions
def quiz_question():
    q = data[random.randint(0,2)]
    print(q[0])
    answer = input()
    if answer == q[1]:
        print('good job', trackAnswers(True, q[0]))
    else:    
        print(f'wrong answer {q[1]}', trackAnswers(False, q[0]))

# make it so this does not repeat questions
# add in some probability questions
def warm_up_question():
    for n,i in enumerate(range(5)):
        q = warmUpQuestions[random.randint(0,14)]
        print(str(n+1) + " " + q[1] + '\n')

In [30]:
quiz_question()

what is a type 1 error

KeyboardInterrupt: Interrupted by user

##### Warm-up

In [5]:
warm_up_question()

1 make a dataframe from a list and a dictionary

2 check to see if there are missing values in the dataset

3 select the same column with loc and iloc, and then print out all types in the column

4 display the dataframe's data types, value_counts, and info

5 find the size and shape of the data

In [6]:
l = pd.DataFrame([x for x in range(10)])

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [11]:
pd.DataFrame({1:[1,2], 2:[3,4]})

   1  2
0  1  3
1  2  4

In [15]:
df.iloc[:,3]

0             US
1             US
2             US
3             US
4             US
          ...
3783      Zambia
3784    Zimbabwe
3785          US
3786          US
3787       China
Name: Country_Region, Length: 3788, dtype: object

In [18]:
df.loc[:,'Country_Region'].dtypes

dtype('O')

In [19]:
df.dtypes

FIPS                   float64
Admin2                  object
Province_State          object
Country_Region          object
Last_Update             object
Lat                    float64
Long_                  float64
Confirmed                int64
Deaths                   int64
Recovered                int64
Active                   int64
Combined_Key            object
Incidence_Rate         float64
Case-Fatality_Ratio    float64
dtype: object

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3788 entries, 0 to 3787
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3103 non-null   float64
 1   Admin2               3107 non-null   object
 2   Province_State       3619 non-null   object
 3   Country_Region       3788 non-null   object
 4   Last_Update          3788 non-null   object
 5   Lat                  3712 non-null   float64
 6   Long_                3712 non-null   float64
 7   Confirmed            3788 non-null   int64
 8   Deaths               3788 non-null   int64
 9   Recovered            3788 non-null   int64
 10  Active               3788 non-null   int64
 11  Combined_Key         3788 non-null   object
 12  Incidence_Rate       3708 non-null   float64
 13  Case-Fatality_Ratio  3722 non-null   float64
dtypes: float64(5), int64(4), object(5)
memory usage: 414.4+ KB

In [25]:
df.shape

(3788, 14)

In [26]:
df.size

53032